@media print {
  body {
    background: white;
    color: black;
  }
}
img {
  filter: grayscale(100%);
}
@keyframes move {
  from { transform: translateX(0); }
  to { transform: translateX(50px); }
}
